[submodule "jquery/source"]
	path = jquery/source
	url = git@github.com:Mooxe000/jquery.git
[submodule "modernizr/source"]
	path = modernizr/source
	url = git@github.com:Mooxe000/Modernizr.git
[submodule "pure/source"]
	path = pure/source
	url = git@github.com:Mooxe000/pure.git
[submodule "semantic-ui/source"]
	path = semantic-ui/source
	url = git@github.com:Mooxe000/Semantic-UI.git
[submodule "coffee-script/source"]
	path = coffee-script/source
	url = git@github.com:Mooxe000/coffee-script.git
[submodule "less/source"]
	path = less/source
	url = git@github.com:Mooxe000/less.js.git
[submodule "font-awesome/source"]
	path = font-awesome/source
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "jade/source"]
	path = jade/source
	url = https://github.com/visionmedia/jade
[submodule "markdown/source"]
	path = markdown/source
	url = git@github.com:Mooxe000/markdown-js.git
[submodule "normalize-css/source"]
	path = normalize-css/source
	url = https://github.com/necolas/normalize.css
[submodule "respond/source"]
	path = respond/source
	url = https://github.com/scottjehl/Respond
