[submodule "jquery/source"]
	path = jquery/source
	url = git@github.com:Mooxe000/jquery.git
[submodule "modernizr/source"]
	path = modernizr/source
	url = git@github.com:Mooxe000/Modernizr.git
[submodule "pure/source"]
	path = pure/source
	url = git@github.com:Mooxe000/pure.git
[submodule "semantic-ui/source"]
	path = semantic-ui/source
	url = git@github.com:Mooxe000/Semantic-UI.git
